<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <nav class="nav-fill">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-entrar-tab" data-toggle="tab" href="#nav-entrar"
                            role="tab" aria-controls="nav-entrar" aria-selected="true">
                            <i class="fas fa-sign-in-alt"></i>
                            Entrar
                        </a>
                        <a class="nav-item nav-link" id="nav-cadastrar-tab" data-toggle="tab" href="#nav-cadastrar"
                            role="tab" aria-controls="nav-cadastrar" aria-selected="false"><i class="fas fa-users"></i>
                            Cadastrar
                        </a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-entrar" role="tabpanel"
                        aria-labelledby="nav-entrar-tab">
                        <div class="card-body">
                            <form [formGroup]="logarForm">
                                <div class="form-group">
                                    <label for="entrarUsuario">E-mail</label>
                                    <input type="email" class="form-control" formControlName="logarEmail"
                                        id="entrarUserio">
                                </div>
                                <div class="form-group">
                                    <label for="entrarSenha">Senha</label>
                                    <input type="password" class="form-control" formControlName="logarSenha"
                                        id="entrarSenha">
                                </div>
                            </form>
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-primary" (click)="logar()"
                                    [disabled]="validar(logarForm)">
                                    ENTRAR
                                </button>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-link" type="button" data-toggle="modal"
                                    data-target="#modalRecuperarSenha">
                                    Esqueceu a senha?
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-cadastrar" role="tabpanel" aria-labelledby="nav-cadastrar-tab">
                        <div class="card-body">
                            <form [formGroup]="cadastrarForm">
                                <div class="form-group">
                                    <label for="cadastroEmail">E-mail</label>
                                    <input type="email" class="form-control" formControlName="cadastrarEmail"
                                        id="cadastroEmail">
                                </div>
                                <div class="form-group">
                                    <label for="cadastroSenha">Senha</label>
                                    <input type="password" class="form-control" formControlName="cadastrarSenha"
                                        id="cadastroSenha">
                                </div>
                            </form>
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-danger" (click)="cadastrar()"
                                    [disabled]="validar(cadastrarForm)">
                                    Cadastrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalRecuperarSenha" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recuperar Senha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="recuperarForm">
                    <div class="form-group">
                        <label for="recuperarEmail">E-mail</label>
                        <input type="email" class="form-control" formControlName="recuperarEmail" id="recuperarEmail">
                        <small class="form-text text-muted">Sua senha sera enviada para seu e-mail</small>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" (click)="recuperar()"
                    [disabled]="validar(recuperarForm)">Enviar</button>
            </div>
        </div>
    </div>
</div>