<div class="main">
    <div class="side-menu" [ngClass]="{'esconder': !mostrar}" [routerLink]="['logo']">
        <div class="logo">
            UrCredit
        </div>
        <nav class="menu-nav">
            <a class="nav-link" [routerLink]="['1']" routerLinkActive="nav-link-ativo">
                <i class="fas fa-hand-holding-usd nav-link-icon"></i><br>
                PRIMEIRO
            </a>
            <a class="nav-link" [routerLink]="['1']" routerLinkActive="nav-link-ativo">
                <i class="fas fa-percentage nav-link-icon"></i><br>
                SEGUNDO
            </a>
            <a class="nav-link" [routerLink]="['1']" routerLinkActive="nav-link-ativo">
                <i class="fas fa-credit-card nav-link-icon"></i><br>
                TERCEIRO
            </a>

        </nav>
    </div>
    <div class="top-menu" [ngClass]="{'margin': mostrar}">
        <i class="icones fas" (click)="toggle()" [ngClass]="{'fa-toggle-on': mostrar, 'fa-toggle-off': !mostrar}"></i>
        <span class="top-menu-direita">
            <a class="fab fa-github icones mx-3" href="https://github.com/viniciuuspacheco/curso" target="_blank"></a>
            <i class="fas fa-sign-out-alt icones" [routerLink]="['..']"></i>
        </span>
    </div>
    <div class="content" [ngClass]="{'margin': mostrar}">
        <router-outlet></router-outlet>
    </div>
</div>