<div class="main">
    <div class="side-menu" [ngClass]="{'esconder': !mostrar}">
        <div class="logo">
            UrCredit
        </div>
        <nav class="menu-nav">
            <a class="nav-link" [routerLink]="['dividas']" routerLinkActive="nav-link-ativo">
                <i class="fas fa-hand-holding-usd nav-link-icon"></i><br>
                DÍVIDAS
            </a>
            <a class="nav-link" [routerLink]="['buscar']" routerLinkActive="nav-link-ativo">
                <i class="fas fa-search-dollar nav-link-icon"></i><br>
                BUSCAR
            </a>
            <a class="nav-link" [routerLink]="['cadastrar']" routerLinkActive="nav-link-ativo">
                <i class="fas fa-user-plus nav-link-icon"></i><br>
                CADASTRAR
            </a>

        </nav>
    </div>
    <div class="top-menu" [ngClass]="{'margin': mostrar}">
        <i class="icones fas" (click)="toggle()" [ngClass]="{'fa-toggle-on': mostrar, 'fa-toggle-off': !mostrar}"></i>
        <span class="top-menu-direita">
            <a class="fab fa-github icones mx-3" href="https://github.com/viniciuuspacheco/curso" target="_blank"></a>
            <i class="fas fa-sign-out-alt icones" (click)="deslogar()"></i>
        </span>
    </div>
    <div class="content" [ngClass]="{'margin': mostrar}">
        <router-outlet></router-outlet>
    </div>
</div>